.main {
  display: flex;
  justify-content: center;
}

.box {
  width: 400px;
}

.item-img {
  width: 300px;
  border-radius: 70%;
  border: 2px solid #000;
}

.win {
  border: 10px solid red;
}

.lose {
  border: 10px solid green;
}

.tie {
  border: 10px solid black;
}

.button {
  cursor: pointer;
  width: 50px;
  border-radius: 70%;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(308deg) brightness(99%) contrast(101%);
}

h1,
h2,
h3 {
  text-align: center;
}